<!DOCTYPE html>
<html >
<head>
	<title>Hp Quiz</title>
	<meta ="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
	<h1>Which Harry Potter Character Are you?</h1>
	<div class="container well form-inline" style="text-align:center">
		<button type="button" id="startButton" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
		 Start Quiz
		</button>
	</div>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Which Harry Potter Character Are You?</h4>
			</div>
			<div class="modal-body">
				<!-- SLIDE 2 QUESTION 1 -->
				<div id="slide2"  class="btn-group" data-toggle="buttons">
					<h4 class="question">1. Which pet would you rather have?</h4>

						<label class="btn btn-primary">
	 					<input type="radio" value="hermione" autocomplete="off" name="answer">
	 					a cat
 						</label>
					<label class="btn btn-primary">
					<input type="radio" value="neville" autocomplete="off" name="answer" >
					a toad or frog
					</label>
					<label class="btn btn-primary">
					<input type="radio" value="harry" autocomplete="off" name="answer" >
					an owl
					</label>
					<label class="btn btn-primary">
					<input type="radio" value="ron" autocomplete="off" name="answer">
					a rat
					</label>
			</div>
				<!--SLIDE 3 QUESTION 2 -->
				<div id="slide3"  class="btn-group" data-toggle="buttons">
						<h4 class="question">2. On a free afternoon, you'd rather:</h4>
						<label class="btn btn-primary" >
	 					<input type="radio" value="harry" autocomplete="off" name="answer" >
	 					Play sports
 						</label>
					<label class="btn btn-primary">
					<input type="radio" value="hermione" autocomplete="off" name="answer" >
					Read
					</label>
					<label class="btn btn-primary">
					<input type="radio" value="ron"  autocomplete="off" name="answer">
					Play chess
					</label>
					<label class="btn btn-primary">
					<input type="radio" value="neville" autocomplete="off" name="answer">
					Garden
					</label>
			</div>

				<!--SLIDE4 Question 3 -->
				<div id="slide4" class="btn-group" data-toggle="buttons">
						<h4 class="question">3. Your greatest fear is:</h4>
						<label class="btn btn-primary">
						<input type="radio" value="ron" autocomplete="off" name="answer">
						An animal
						</label>
					<label class="btn btn-primary">
					<input type="radio" value="neville" autocomplete="off" name="answer">
					A person
					</label>
					<label class="btn btn-primary">
					<input type="radio" value="harry" autocomplete="off"  name="answer">
					Fear itself
					</label>
					<label class="btn btn-primary">
					<input type="radio" value="hermione" autocomplete="off" name="answer"  >
					Failure
					</label>
				</div>

				<!--SLIDE5 Question 4 -->
				<div id="slide5" class="btn-group" data-toggle="buttons">
						<h4 class="question">4. Are you brave?</h4>
						<label class="btn btn-primary">
						<input type="radio" value="neville" autocomplete="off" name="answer">
						Not exactly
						</label>
					<label class="btn btn-primary">
					<input type="radio" value="ron" autocomplete="off" name="answer" >
					Somewhat
					</label>
					<label class="btn btn-primary">
					<input type="radio" value="hermione" autocomplete="off" name="answer" >
					Yes
					</label>
					<label class="btn btn-primary">
					<input type="radio" value="harry" autocomplete="off" name="answer">
					Hell yes
					</label>
			</div>

				<!--SLIDE6 Question 5 -->
				<div id="slide5" class="btn-group" data-toggle="buttons">
						<h4 class="question">5. What do you value the most?</h4>
						<label class="btn btn-primary">
						<input type="radio" value="hermione" autocomplete="off" name="answer">
						Social justice
						</label>
					<label class="btn btn-primary">
					<input type="radio" value="harry" autocomplete="off" name="answer">
					friendship
					</label>
					<label class="btn btn-primary">
					<input type="radio" value="ron"  autocomplete="off" name="answer">
					family
					</label>
					<label class="btn btn-primary">
					<input type="radio" value="neville" autocomplete="off" name="answer">
					courage
					</label>
				</div>

       <!--Slide7 Deciding Slide -->
			 <div id="slide7">
				 <span id="closeButton"></span>
			 </div>
				<!--End modal body -->
			</div>
			<div class="modal-footer">
				<button  onclick="showWinner()" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</div>

	<script src="/jquery/dist/jquery.min.js"></script>
	<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/javascript/app.js"></script>
</body>
</html>
