<!DOCTYPE html>
<html >
<head>
	<title>Hp Quiz</title>
	<meta ="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
	<h3>Which Harry Potter Character Are You?</h3>
<div class="container well">
	<div id="quiz" >
	</div>
	<div class="btn-group" role="group" aria-label="...">
		<span id="prev"><button onclick="prev()" type="button" class="btn btn-primary">Prev</button></span>
		<span id="next"><button onclick="next()" type="button" class="btn btn-primary">Next</button></span>
		<span id="submit"><button onclick="submit()" type="button" class="btn btn-info">Submit</button></span>
	</div>
</div>





	<script src="/jquery/dist/jquery.min.js"></script>
	<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/javascript/app.js"></script>
</body>
</html>
